<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <h2>Fue un matemático y científico de la computación británico.</h2> 
    <h2>Diseñó y desarrolló una calculadora mecánica </h2>
    <h2>capaz de calcular tablas de funciones numéricas por el método de diferencias.</h2>
    <img src="/img/babbage.jpg" alt="babbage">
</body>
</html>