<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>TIM BERNERS-LEE</h1>
    <h2>Es un científico de la computación británico,</h2>
    <h2>conocido por ser el padre de la World Wide Web.</h2>
    <i><h3>Él y su grupo crearon el lenguaje HTML (HyperText Markup Language),</h3>
    <h3>el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización</h3>
    <h3>de objetos en la web, llamado URL (Uniform Resource Locator).</h3></i>
    <img src="/img/berners-lee.jpg" alt="berners-lee">
</body>
</html>