<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>MARGARET HAMILTON</h1>
    <h2>Es una científica computacional, matemática</h2>
    <h2>e ingeniera de Software estadounidense.</h2>
    <i><h3>Fue directora de la División de Ingeniería de Software</h3>
    <h3>del Laboratorio de Instrumentación del MIT,</h3>
    <h3>donde con su equipo desarrolló el software de navegación "on-board"</h3> 
    <h3>para el Programa Espacial Apolo.</h3></i>
    <img src="/img/hamilton.jpg" alt="hamilton">
</body>
</html>