<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>H É R O E S</h1>
    <h2><a href="http://localhost:3030/babbage">Charles Babbage</a></h2>
        <img src="/img/babbage.jpg" alt="babbage">
    <h2><a href="http://localhost:3030/berners-lee">Tim Berners-Lee</a></h2>
        <img src="/img/berners-lee.jpg" alt="berners-lee">
    <h2><a href="http://localhost:3030/clarke">Joan Clarke</a></h2>
        <img src="/img/clarke.jpg" alt="clarke">
    <h2><a href="http://localhost:3030/hamilton">Margaret Hamilton</a></h2>
        <img src="/img/hamilton.jpg" alt="hamilton">
    <h2><a href="http://localhost:3030/hopper">Grace Murray Hopper</a></h2>
        <img src="/img/hopper.jpg" alt="hopper">
    <h2><a href="http://localhost:3030/lovelace">Ada Lovelace</a></h2>
        <img src="/img/lovelace.jpg" alt="lovelace">
    <h2><a href="http://localhost:3030/turing">Alan Turing</a></h2>
        <img src="/img/turing.jpg" alt="turing">
</body>
</html>














