<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <h2>Fue una matemática y escritora británica, célebre sobre todo por su trabajo</h2>
    <h2>acerca de la computadora mecánica de uso general de Charles Babbage, la denominada 'máquina analítica'.</h2>
    <h3>Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro</h3>
    <h3>y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado</h3>
    <h3>por una máquina, por lo que se la considera como la primera programadora de ordenadores.</h3>
    <img src="/img/lovelace.jpg" alt="lovelace">
</body>
</html>