<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <h2>Fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico.</h2>
    <h3>Está considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</h3>
    <h3>Proporcionó una influyente formalización de los conceptos de algoritmo y computación: La máquina de Turing.</h3>
    <img src="/img/turing.webp" alt="turing">
</body>
</html>